<div class="container">
  <div class="flex flex-col gap-5 mt-6 w-1/6">
    <app-select
      [data]="categories"
      [title]="'Categories'"
      (selectedValue)="filterCategory($event)"
    ></app-select>
  </div>
</div>
<div
  *ngIf="!loading"
  class="container grid gap-5 mt-6"
  style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))"
>
  <div
    *ngFor="let prd of products"
    class="bg-white shadow-md rounded-lg transform transition-all duration-300 hover:scale-105 hover:shadow-xl cursor-pointer"
  >
    <app-product [prd]="prd" (addToCart)="addToCart($event)"></app-product>
  </div>
</div>

<div *ngIf="loading" class="w-full text-center">
  <app-spinner></app-spinner>
</div>
