<div class="container">
  <div class="flex flex-col gap-5 mt-6 w-1/6">
    <label for="">Categories: </label>
    <select name="" id="" class="bg-gray-400 p-3">
      <option value="1">option1</option>
      <option value="2">option2</option>
      <option value="3">option3</option>
      <option value="4">option4</option>
      <option value="5">option5</option>
    </select>
  </div>
</div>
<div
  class="container grid gap-5 mt-6"
  style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))"
>
  <div *ngFor="let prd of products" class="bg-white shadow-md rounded-lg">
    <div class="w-full h-full flex flex-col">
      <img
        src="{{ prd.image }}"
        alt=""
        class="w-full h-52 object-cover rounded-lg"
      />

      <div>
        <div class="bg-gray-400 p-5">
          <p class="truncate">{{ prd.title }}</p>
        </div>
        <div class="flex flex-col gap-10 p-4 justify-between">
          <div class="flex-grow">
            <p class="line-clamp-4">{{ prd.description }}</p>
          </div>
          <div class="flex justify-between items-center">
            <button class="bg-green-700 px-4 py-2 text-white rounded">
              Add To Cart
            </button>
            <span class="bg-red-400 rounded-md p-2">{{ prd.price }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
